.container__carousel {
    width: 100vw;
}
.container__carousel__div {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-y: hidden;
}
.container__carousel__imgs {
    flex: none;
    width: 100%;
    height: 650px;
    scroll-snap-align: start;
    pointer-events: none;
}
.container__carousel__imgs img {
    width: 100%;
    height: 100%;
}